.fieldsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;

  @media (max-width: "425px") {
    flex-direction: column;
  }
}

.infoContainer {
  margin-top: 24px;
  margin-bottom: 12px;
  padding: 38px 24px;
  line-height: 200%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  @media (max-width: "425px") {
    margin-top: 8px;
    padding: 30px 24px;
  }
}

.sectionContainer {
  margin-top: 12px;
  // margin-bottom: 8px;
  padding-left: 8px;
  // line-height: 200%;
  // border-top: 1px solid black;
  // border-bottom: 1px solid black;

  // @media (max-width: "425px") {
  //   margin-top: 8px;
  //   padding: 30px 24px;
  // }
}

.title {
  text-align: center;
  font-size: 28px;

  @media (max-width: "425px") {
    font-size: 20px;
  }
}

.section {
  // text-align: center;
  font-size: 18px;

  @media (max-width: "425px") {
    font-size: 20px;
  }
}
